# Google Sheets
GOOGLE_SHEETS_KEY=1AGOJkeKXI1dqIAiMsv3W676EdjxkkAiMYMH4h74u7rs
GOOGLE_CREDENTIALS_PATH=credentials.json

PUBLIC_BASE_URL= https://gameless-nonfacetiously-yasmin.ngrok-free.dev 

# Twilio (Phase 4)
TWILIO_ACCOUNT_SID=ACa51f7fff438be6aac45d625fc63bc5b5
TWILIO_AUTH_TOKEN=056b30a1419936a4917ee38f16792a1e
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
